* {
    font-family: Georgia;
}

.underline {
    text-decoration: underline;
}

.start__menu-main {
    background: #c3c6cd;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 10%;
    position: absolute;
    bottom: 32px;
    z-index: 99999;
    display: flex;
    height: 32%;
}

.start__menu-main-side {
    background: #85888f;
    width: 12%;
}

.start__menu-main-side-text {
    position: relative;
    margin-top: 70px;
    font-size: 17px;
}

.start__menu-main-side-text .windows {
    font-weight: bold;
    color: #c3c6cd;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.start__menu-main-side-text .ninefive {
    color: white;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-bottom: 65px;
}

.start__menu-main-items {
    padding: 0;
    width: 100%;
}

.start__menu-main-items .icon {
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.start__menu-main-items-item {
    font-size: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bg-img {
    /* background-image: url(https://i.pinimg.com/originals/96/17/c0/9617c03faeb0986659acd2fa7ff87a26.png); */
    background-image: url("/sleep.png");
    -o-object-fit: cover;
    object-fit: cover;
    width: 100px;
    height: 100px;
    mix-blend-mode: multiply;
}

.shutdown-img {
    background-position: 87% 79%;
}

.start__menu-main-items-item:hover {
    background: purple;
}

.start__menu-main-items-item:hover .start__menu-main-items-item-title {
    color: white;
}

.start__menu-main-items-item:hover .start__menu-main-items-item-arrowright {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
}

.start__menu-main-items-list1 {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #85888f;
}

.start__menu-main-items-list2 {
    margin: 0;
    padding: 0;
    border-top: 1px solid #deebf3;
}

.start__menu-sub {
    background: #c3c6cd;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 180px;
    left: 100%;
    padding: 0;
    display: none;
    position: absolute;
}

.start__menu-sub .icon {
    width: 23px;
    height: 23px;
}

.start__menu-sub-items-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.start__menu-sub-items-item:hover {
    background: purple;
}

.start__menu-sub-items-item:hover .start__menu-sub-items-item-title {
    color: white;
}

.start__menu-sub-items-item:hover .start__menu-sub-items-item-arrowright {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
}

.start__menu-sub-items-item-title {
    margin: 7px 0;
}

#contact-img {
    width: 19px;
    padding: 5px 5px 0px 5px;
}